@value gridBaseline, xsmallBreakpoint, smallBreakpoint, mediumBreakpoint, largeBreakpoint from '../../ui/base/metrics/metrics.module.css';

.div{
     text-align: center;
 }

.header{
    font-size: 30px ;
    font-family: "Gill Sans", sans-serif;
}

.text{
    font-style: italic ;
    font-size: 25px ;
}

.img{
    max-width: 800px;
}

@media screen and (min-width: xsmallBreakpoint) {
  .form {
    width: calc(gridBaseline * 30);
  }
}

@media screen and (min-width: smallBreakpoint) {
  .form {
    width: calc(gridBaseline * 40);
  }
}

@media screen and (min-width: mediumBreakpoint) {
  .form {
    width: calc(gridBaseline * 60);
  }
}

@media screen and (min-width: largeBreakpoint) {
  .form {
    width: calc(gridBaseline * 80);
  }
}

