.siteheader{
  width:100%;
  background:pink;
  padding:20px;

}

.main{margin:0;}



.navbar{
  flex-direction:row;
  vertical-align:middle;
  margin:0;
  width:90%;
  justify-content:flex-end;


}
.container{
  text-align: left;
  height: 100px;

}

ul{
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style-type:none;
  text-align: center;
  vertical-align:top;
  margin:0;

}

li{
  vertical-align:top;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  display:inline;
  margin:20px;
}



.image{
  width:20%;
}


@media (max-width:767px){
  .site-header .align-self-center{align-self:center!important;text-align:left;}
  .header-logo img{width:160px;}
  ul.navbar-nav{
    justify-content:left;
  }
  header nav{display:inline-block;width:100%;}
  ul.navbar-nav.mr-auto li{display:inline-block;margin:0 5px 0 0;}
  .navbar-nav .nav-link{font-size:14px;}
  header.siteheader{padding:15px 0;}
  a.header-logo{margin-bottom:5px;display:block;}
}
