@value gridBaseline, middleBaseline, xsmallBreakpoint from '../../../ui/base/metrics/metrics.module.css';

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.description {
  margin-bottom: gridBaseline;
}


.img {
  margin-top: auto;
  display: flex;
  justify-content: center;
  height: calc(gridBaseline * 12);
}

.titleWrap {
  margin-top: gridBaseline;
  height: 3.2rem;
  display: flex;
  align-items: center;

}

.title {
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.6rem;

}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border:3rem;
}

.link {
  margin-top: middleBaseline;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (min-width: xsmallBreakpoint) {
  .img {
    height: calc(gridBaseline * 15);
  }
}
