@value gridBaseline, xsmallBreakpoint, largeBreakpoint from '../../ui/base/metrics/metrics.module.css';

.box {
  width: 60%;
	margin: 50px auto;
}

.img {
  position: relative;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 3px 10px 10px grey;
}

.img > img {
  position: absolute;
  top:50%;
	left:50%;
  height:100%;
  margin:auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%,-50%);
}

.img:before {
  content: "";
	display: inline-block;
	padding-top: 80%;
	width: 0.1px;	
  vertical-align: middle;
}

.title {
  margin: calc(gridBaseline * 2) 0 gridBaseline;
}

.text {
  text-align: center;
}

@media screen and (min-width: xsmallBreakpoint) {
  .title {
    margin: calc(gridBaseline * 3) 0 calc(gridBaseline * 2);
  }
}

@media screen and (min-width: largeBreakpoint) {
  .title {
    margin: calc(gridBaseline * 6) 0 calc(gridBaseline * 4);
  }
}
