@value gridBaseline, xsmallBreakpoint, smallBreakpoint, mediumBreakpoint, largeBreakpoint from '../metrics/metrics.module.css';

.page {
  margin: calc(gridBaseline * 2) 0;
  padding: 0 calc(gridBaseline * 2);
}

.modalOpen {
  filter: blur(4px);
}

@media screen and (min-width: xsmallBreakpoint) {
  .page {
    padding: 0 calc(gridBaseline * 2);
  }
}

@media screen and (min-width: smallBreakpoint) {
  .page {
    margin: calc(gridBaseline * 3) 0;
    padding: 0 calc(gridBaseline * 4);
  }
}

@media screen and (min-width: mediumBreakpoint) {
  .page {
    margin: calc(gridBaseline * 4) 0;
    padding: 0 calc(gridBaseline * 6);
  }
}

@media screen and (min-width: largeBreakpoint) {
  .page {
    margin: calc(gridBaseline * 6) 0;
    padding: 0 calc(gridBaseline * 8);
  }
}
