.siteheader{
  width:100%;
  background:pink;
  padding:20px;

}

.main{margin:0;}


botton{
  text-align: left;


}
.newsletter{
    text-align: right;
    vertical-align: top;

}

input{
  width:50px;

}

.navbar{
  text-align: left;
  flex-direction:row;
  vertical-align: top;
  margin:0;
  width:90%;
  justify-content:flex-start;


}

.container{
  text-align: left;
  height: 50px;

}

ul{
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style-type:none;
  vertical-align:top;
  margin:0;
}

li{

}





@media (max-width:767px){
  .site-header .align-self-center{align-self:center!important;text-align:left;}
  .header-logo img{width:160px;}
  ul.navbar-nav{
    justify-content:left;
  }
  header nav{display:inline-block;width:100%;}
  ul.navbar-nav.mr-auto li{display:inline-block;margin:0 5px 0 0;}
  .navbar-nav .nav-link{font-size:14px;}
  header.siteheader{padding:15px 0;}
  a.header-logo{margin-bottom:5px;display:block;}
}
