
.img_wrapper{
    margin: 0 auto;
    height: auto;
    width: 70%;
    overflow: hidden;
    border-style: solid;
    border-color: #976802;
    border-radius: 1.8rem;
}
.img_wrapper:hover img{
    transform: scale(1.1);
    transition: all 0.4s; 
}
.img {
    height:100%;
    width:100%;
    transform: scale(1);  
    vertical-align: middle;
}
.detail_desc {
    position: absolute;
    display: none;
    margin: -50% auto;
    top: 0;
    right: 15%;
    width: 70%;
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    opacity:0.7;
}
.product_name:hover .detail_desc{
    display: block;
}
.product_name{
    position: relative;
    margin: 1rem auto 0 auto;
}
.product_price{
    margin: 0.5rem auto 1rem auto;
}
.buy_button{
    margin: 0 auto;
    border: .1rem;
    border-radius: .5rem;
    border-color: black;
    border-style: solid;
}
.buy_button:hover{
    margin: 0 auto;
    background-color: #ffc341;
    color: white;
    font-weight: bold;
}